body {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}
header h1 {
    font-family: "trajan-color", serif;
    margin: 0;
    color: #d9cc11;
    font-size: 2rem;
    font-weight: 600;
}
header p {
    margin: 0;
    color: #d9cc11;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 200;
}

/* PHONE NAV HERE */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 1.2rem;
        font-size: 1rem;
        text-decoration: none;
        color: #025928;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa; 
    }
    nav .active a {
        background-color: #025928;
        color: white;
    }
} /*end small screens*/

@media only screen and (min-width: 601px) {
    nav {
        background-color: #025928;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        padding: .8rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #111;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-left: solid 1px rgba(0,0,0,0.2);
    }

    nav .active a {
        color: #d9cc11;
    }
    nav a:hover {
        color: #D91136;
    } 
} /*end large screens*/



/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    font-family: "trajan-color", serif;
    color: #D91136;
    font-size: 2rem;
    margin: .5rem 0 .8rem 0;
    font-weight: 300;
}
main h2 {
    color: #025928;
    margin-bottom: .2rem;
    font-weight: 300;
}
main p {
    color: #000000;
    margin: 0 0 .8rem 0;
    line-height: 140%;
    font-size: 1.2rem;
}
main a {
    color: #025928;
    font-weight: 600;
    text-decoration: none;
}
main a:hover {
    color: #D91136;
    text-decoration: underline;
}
ul li {
    color: #8b5022;
    font-weight: 600;
    line-height: 135%;
}
.teamHero {
    width: 100%;
    margin: 0;
}
.teamHero img, .image-right img {
    width: 100%;
    height: auto;
}

.image-right {
    float: right;
    margin: 0 0 0 2vw;
    width: 33%;
}
.image-right figcaption {
    text-align: center;
    font-size: .8rem;
}


/* format stuff here */

table {
    width: 100%; 
    border-collapse: collapse;

}

table th {
    background-color:#025928;
    color: white;
    text-align: left;
    font-size: .8 rem;
    padding: .5rem 2vw;
}
table td{
color:#025928;
padding: .4rem 2vw;
}
table tr:nth-child(odd){
    background-color: #e4e3e3;
}
table tr:hover {
    background-color: rgba(55, 107, 29, 0.2);
}




/* footer stuff here */
footer {
    border-top: solid #025928 1px;
    text-align: center;
    color: #025928;
    font-size: .8rem;
    padding: 1rem 0;
    clear: both;
}
footer a {
    color: #025928;
}


/* footer stuff here */
main, footer {
    max-width: 64rem;
    margin: 0 auto;
}



/* purchase a toa stuff here*/

.myform fieldset {
    border:#025928 solid 1px;
    border-radius: 3px;
    margin-bottom: .8rem;

}
.myform legend {
    color: #025928;
    font-size: .8rem;

}

.myform label {
    margin: .5rem;

}

.myform label, .myform select, .myform, [type=text], .myform [type=tel], .myform [type=email], .myform textarea {
    display: block;
}

.myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea {
    border: solid 1px #4aac31;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;

}

.myform textarea {
    height: 10rem;
}

.myform :required {
    background-color: #76ed96;
} 

.myform [type=submit] {
    background-color: #025928;
    border: none;
    padding: 1rem 2rem;
    border-radius: .3rem;
    color: white;
    margin: 1rem 0 0 1vw;
}


/* the toa stuff here */
