
body {
    
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        font-size: 16px;
      }




   /* Header stuff here. */
 
   header {
    background-color: #F2F2F2;
    padding: 1rem 2vw;
   }
header h1{
    margin: 0;
    color: #025928;
}
    
    header p{
    margin: 0;
    color: #025928;
    letter-spacing: .5px;
    }

    /*navigation section here. */

    nav {
        background-color: #D91136;
    }

    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }

    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #025928;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }

    nav li.active a{
        background-color: #025928;
        color: #D91136;

    }

    nav a:hover {
        color: white;
    }

    /* Main section here. */
   
    main {
        padding: 1rem  2vw;
    }

    main h1 {
        color: #D91136;
    }

    main h2 {
        color: #025928;
        margin-bottom: .2rem;
    }

    main p {
        color: #2f3133;
        margin: 0 0 .3rem 0;
    }

    main ol {
        padding: .5rem 3vw;
        background-color: #efefef;
    }

    main dl dt {
        color: #D91136;
        font-weight: 700;
    }

    main dl dd {
        color: #025928;
        font-size: .9rem;
    }

    main ul {
        list-style-type: circle;
    }

    main ul li {
        line-height: 125%;
        margin-bottom: .5rem;
        font-size: .9rem;
    }

    main address{
        font-style: normal;
        background-color: #D91136;
        padding: .5rem;
        width: 12.5rem;
        border-style: solid;
        border-color: black;
        border-radius: .9rem;

    }

    main a {
        color:#025928;
    }

    main a:hover {
        color: rgb(239,0,24)
    }
    /*footer section here. */

    footer {
        background-color: #eaeaea;
        text-align:center;
        color: #025928;
        padding: 1rem 0;
        font-size: .8rem;

    }

    footer a {
        color:#025928;
    }